* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #fff 0%, #eda3b1 100%);
    /* overflow: hidden; */
  }
  .container {
    max-width: 91.6%;
    margin: 0 auto;
  }